<div class="flex flex-col justify-center items-center pt-4 gap-4">
  <div class="flex flex-row gap-4">
    <button
      class="btn btn-primary"
      mwlCalendarPreviousView
      [view]="'day'"
      [(viewDate)]="viewDate"
    >
      Previous
    </button>
    <div class="btn btn-outline" mwlCalendarToday [(viewDate)]="viewDate">
      Today
    </div>
    <div
      class="btn btn-primary"
      mwlCalendarNextView
      [view]="'day'"
      [(viewDate)]="viewDate"
    >
      Next
    </div>
  </div>
  <div class="text-lg">
    <h3>{{ viewDate | calendarDate : "dayViewTitle" }}</h3>
  </div>
</div>
<div class="flex flex-col px-8 pt-4 gap-4">
  <div
    class="border rounded-lg p-4"
    mwlDroppable
    (drop)="externalDrop($event.dropData.event)"
    dragOverClass="drag-over"
  >
    <span>Drag assigned task and drop here to remove the schedule</span>
    <div class="card-body">
      <p *ngIf="externalEvents.length === 0"><em>No events added</em></p>
      <ul>
        <li
          *ngFor="let event of externalEvents"
          mwlDraggable
          [dropData]="{ event: event }"
          [touchStartLongPress]="{ delay: 300, delta: 30 }"
          dragActiveClass="drag-active"
        >
          <a href="javascript:;">
            {{ event.title }}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <mwl-day-view-scheduler
    [viewDate]="viewDate"
    [events]="events"
    [users]="users"
    [refresh]="refresh"
    [snapDraggedEvents]="false"
    (eventTimesChanged)="eventTimesChanged($event)"
    (userChanged)="userChanged($event)"
  >
  </mwl-day-view-scheduler>
</div>
